@import "tailwindcss";

@theme {
    --color-primary-50: #0096c7;
    --color-primary-100: #3a5f7a;
    --color-primary-200: #1a2a40;
    --color-secondary: #c3b091;
    --color-twhite: #f5f5f0;
    --color-tblack: #1a1a1a;
}

.input-field {
    @apply gap-2 w-full py-2.5 px-2 rounded-lg border-2 border-primary-100 focus-within:border-primary-50 flex items-center;
}

.my-border {
    @apply flex items-center justify-center gap-2 p-2 rounded hover:border-1 border-primary-200;
}

body {
    @apply bg-gray-100;
}